html{
	background-image: url(../images/bg.png);
	background-repeat: repeat; 
	height: 100%;
}

body{
	padding-top: 70px;
	background-color: transparent;
}

#portfolio-image{
	height: 175px;
	width: 150px;
	margin: 0 20px;
	border: 1px #dddddd solid;
}

.social-link-item{
	width: 80px;
	height: 80px;
}

.footer{
	margin-top: auto;
	height: 100px;
	background-color: #283747;
	border-top: 10px #FFC300 solid;
	color: #ffffff;
}

.footer p{
	padding-top: 30px;
}