html{
	background-image: url(../images/bg.png);
	background-repeat: repeat; 
	height: 100%;
}

body{
	padding-top: 130px;
	background-color: transparent;
}

h1,h2,h3{
	color:#FFC300;
}

.navbar{
	border-bottom: 10px #FFC300 solid;
	background-color: #283747;
	margin: 0 auto;
	width: 100%;
	padding: 30px 0;
}

.navbar-toggle{
	background-color: #808B96;
}

#portfolio-image{
	height: 175px;
	width: 150px;
	border: 1px #dddddd solid;
}

.main-content{
	padding: 15px;
}

.main-content img{
	width: 500px;
	height: 220px;
}

.social-link-item{
	width: 80px;
	height: 80px;
}

.footer{
	margin-top: auto;
	height: 100px;
	background-color: #283747;
	border-top: 10px #FFC300 solid;
	color: #ffffff;
}

.footer p{
	padding-top: 30px;
}

@media screen and (max-width: 960px){

	#portfolio-image{
		margin: 0 auto;

	}
}